@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&family=Raleway:wght@900&display=swap');

body{
   background: url(assets/img/bg.jpg) no-repeat center center fixed; 
   background-size: cover;
   margin: 0;
   padding: 0;
}

nav {
    position: fixed;
    width: 100%;
    padding: 20px;
    background-color: #041C32;
    z-index: 1;
}

nav ul li{
    float: left;
    padding-left: 15px;
}

#titles{
    float: right;
    margin-right: 30px;
}

#titles a{
    font-size: larger;
    color: #ECB365;
}

#titles a:hover{
    color: #fcf1e4;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li a{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2.5px;
    font-size: 20px;
    font-weight: bolder;
    text-decoration: none;
    color: white;

    -webkit-transition: color 1s ease-in;
    -moz-transition: color 1s ease-in ;
    -o-transition: color 1s ease-in;
    transition: color 1s ease-in;
}

nav ul li a:hover{
    letter-spacing: 2.5px;
    cursor: pointer;
    font-weight: bolder;
    text-decoration: none;
    color: #ECB365;

    -webkit-transition: color 1s ease-out;
    -moz-transition: color 1s ease-out;
    -o-transition: color 1s ease-out;
    transition: color 1s ease-out;
}



#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    color:#fcf1e4;
}

#name{
    margin: 0;
    font-weight: bolder;
    align-self: center;
    letter-spacing: 5px;
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    color: white;
}

.box{
    display: flex;
    justify-content: space-around;
    position: absolute;
    height: 120vh;
    width: 100%;
    background-color: rgba(6, 70, 99, 0.7);
    
}

.box img{
    width: 300px;
    height: 300px;
    top: 150px;
    position: relative;
}


.boxs{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    height: 120vh;
    width: 100%;
    background-color: rgba(6, 70, 99, 0.7);
    
}

.boxz{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    height: 120vh;
    width: 100%;
    background-color: rgba(6, 70, 99, 0.7);
    
}

.content1{
    background-color: #04293A;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60vh;
}

.content_text{
    margin-right: 40px;
    margin-left: 50px;
}

.content_text h4{
    color: #fcf1e4;
    font-family: 'Raleway', sans-serif;
    font-size: 3em;
    margin: 0;
}

.content_text p{
    color: #fcf1e4;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.content_image{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 40px 0 40px;
    width: 40%;
    height: 50%;
}

.content_image img{
    object-fit: cover;
    position: relative;
    width: 100%;
    height: 100%;
}

.content_image_container{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -20px;
    justify-content: space-around;
    align-items: center;
}

.content_image_subcontainer{
    background-color: #ECB365;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    width: 160px;
    height: 200px;
}

.content_image_subcontainer img{
    object-fit: cover;
    width: 160px;
    height: 150px;
    margin: 0 0 25px 0;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

.content_image_subcontainer p{
    position: relative;
    bottom: 12px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bolder;
    text-align: center;
    color: #fcf1e4;
}


.content_text h3{
    font-family: 'Raleway', sans-serif;
    position: relative;
    margin: 20px auto 30px;
    letter-spacing: 5px;
    font-size: 2.5em;
    color: white;

}

.content_text h3::before{
    background-color: white;
    display: block;
    width: 120px;
    height: 2px;
    content: "";
    position: absolute;
    left: -127px;
    top: 22px;
    z-index: 0;
}

.content_text h3::after{
    background-color: white;
    display: block;
    width: 120px;
    height: 2px;
    content: "";
    position: absolute;
    right: -127px;
    top: 22px;
    z-index: 0;
}

h2{
    font-family: 'Raleway', sans-serif;
    position: relative;
    margin: 50px auto;
    letter-spacing: 5px;
    font-size: 2.5em;
    color: white;

}

h2::before{
    background-color: white;
    display: block;
    width: 120px;
    height: 2px;
    content: "";
    position: absolute;
    left: -127px;
    top: 22px;
    z-index: 0;
}

h2::after{
    background-color: white;
    display: block;
    width: 120px;
    height: 2px;
    content: "";
    position: absolute;
    right: -127px;
    top: 22px;
    z-index: 0;
}

.content2{
    background-color: #064663;
    position: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.content3{
    background-color: #064663;
    position: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 195vh;
}

.video_contents{
    display: flex;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    width: 100%;
    height: 100%;
}

.video_contents_subcontent{
    background-color: #ECB365;
    justify-content: space-around;
    margin: 20px;
    width: 350px;
    height: 480px;
}

.video_contents_subcontent img{
    object-fit: cover;
    width: 100%;
    height: 70%;
}

.video_text_container{
    text-align: justify;
    margin: 10px;
}

.content3 a {
    text-decoration: none;
}

.video_title {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: white;
}
.video_description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
}

.gallery{
    display: flex;
    justify-content: space-around;
    position: relative;
    top: -20%;
}

.contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    display: block;
    background-color: #04293A;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    left: 0;
    min-width: 300px;

    min-height: 200px;
    max-height: 300px;
}

.contents img{
    object-fit: cover;
    position: relative;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    width: 100%;
    height: 85%;

}

.caption{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -5px;
    width: 100%;
    height: 15%;
    align-items: center;
}

.caption a{
    text-decoration: none;   
}

.caption a p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    letter-spacing: 2.5px;
    text-decoration: none;
    color:#fcf1e4;
}

.video_player_container{
    display: flex;
    flex-direction: column;
    background-color: #04293A;

    width: 50%;
    height: 50%;
}

.video_player_container video{
    width: 100%;
    height: 70%;
}

.video_text_box{
    background-color: #ECB365;
    width: 100%;
    height: 100%;
}

.video_text_box p{
    margin: 10px;
}

.sidebar{
    background-color: #04293A;
    width: 25%;
    height: 50%;
}

footer{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -20vh;
    width: 100%;
    padding: 2px 0;
    background-color: #ECB365;
}

.sfooter{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -510vh;
    width: 100%;
    padding: 2px 0;
    background-color: #ECB365;
}

.tfooter{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -220vh;
    width: 100%;
    padding: 2px 0;
    background-color: #ECB365;
}

footer h4{
    font-family: Arial, Helvetica, sans-serif;
}