

body{
   background: url(assets/img/bg.jpg) no-repeat center center fixed; 
   background-size: cover;
   font-family: 'Raleway', sans-serif;
   margin: 0;
   padding: 0;
}

nav {
    position: fixed;
    width: 100%;
    padding: 20px;
    background-color: #BB6464;
}

nav ul li{
    float: left;
    padding-left: 15px;
}

#titles{
    float: right;
    margin-right: 30px;
}

#titles a{
    font-size: large;
    color: #CDB699;
}

#titles a:hover{
    color: #fcf1e4;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li a{
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: white;

    -webkit-transition: color 1s ease-in;
    -moz-transition: color 1s ease-in ;
    -o-transition: color 1s ease-in;
    transition: color 1s ease-in;
}

nav ul li a:hover{
    letter-spacing: 2px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    color: #CDB699;

    -webkit-transition: color 1s ease-out;
    -moz-transition: color 1s ease-out;
    -o-transition: color 1s ease-out;
    transition: color 1s ease-out;
}

.con{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
    height: 100vh;
    background-color: rgba(248, 247, 216, 0.7);
    
    
}

#content{
    margin-top: 20px;
    letter-spacing: 1px;
    width: 150px;
    height: 50px;

    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #BB6464;
    border-radius: 5px;
    border: 2px solid #333;
    z-index: 0;
    font-weight: bold;
    transition: 1s;
}

#content::before, #content::after {
    position: absolute;
    background: rgba(253, 253, 247, 0.7);
    z-index: -1;
    transition: 1s;
    content: '';
}

#conent a{
    user-select: none;
}

#content::before {
    height: 50px;
    width: 150px;
  }
  
#content::after {
    width: 150px;
    height: 30px;
  }

#content:hover::before {
    width: 0px;
    background: rgba(253, 253, 247, 0.7);
  }
  
#content:hover::after {
    height: 0px;
    background: rgba(253, 253, 247, 0.7);
  }
  
#content:hover {
    background: rgba(253, 253, 247, 0.7);
  }

img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

footer{
    padding: 2px 0;
    background-color: #CDB699;
}