@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&family=Raleway:wght@900&display=swap');

body{
   background: url(../img/bg.jpg) no-repeat center center fixed; 
   background-size: cover;
   margin: 0;
   padding: 0;
}

:root{
    --color1: rgb(33, 50, 94);
    --color2: rgba(4, 41, 58);
    --rgba: 6, 70, 99;
    --color3: rgba(var(--rgba));
    --color4: rgba(236, 179, 101);
    --color5: rgba(var(--rgba), 0.7 );
    --color6: #fcf1e4;

    --font1: Arial, Helvetica, sans-serif;
    --font2: 'Raleway', sans-serif;
}



nav {
    position: absolute;
    top: 3vh;
    width: 100%;
    z-index: 1;
}

nav ul li{
    float: left;
    padding-left: 15px;
}

#titles{
    float: right;
    margin-right: 30px;
}

#titles a{
    color: var(--color4);
}

#titles a:hover{
    color: var(--color6);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li a{
    font-family: var(--font1);
    letter-spacing: 2.5px;
    font-size: 20px;
    font-weight: bolder;
    text-decoration: none;
    color: white;

    -webkit-transition: color 1s ease-in;
    -moz-transition: color 1s ease-in ;
    -o-transition: color 1s ease-in;
    transition: color 1s ease-in;
}

nav ul li a:hover{ 
    cursor: pointer;
    font-weight: bolder;
    text-decoration: none;
    color: var(--color4);

    -webkit-transition: color 1s ease-out;
    -moz-transition: color 1s ease-out;
    -o-transition: color 1s ease-out;
    transition: color 1s ease-out;
}


#content{
    display: flex;

}

 

.text{
    margin: 0;
    font-family: var(--font1);
    letter-spacing: 1px;
    color:var(--color6);
}

#names{
    margin: 0;
    font-weight: bolder;
    align-self: center;
    letter-spacing: 5px;
    font-family: var(--font2);
    font-size: 50px;
    color: var(--color6);
}

.boxs{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: var(--color5);
    
}

.boxz{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: var(--color5);
    
}

 #content{
    width: 40%;
    height: 50%;
} 

.dp_container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

 .dp_container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} 

.sub{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em 0;
    width: 100%;
}

.content1{
    background-color: var(--color2);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 3em 0;
    border-bottom: 5px solid var(--color1);
}

.content_text{
    margin-right: 40px;
    margin-left: 50px;
}

.content_text h4{
    color: var(--color6);
    font-family: var(--font2);
    font-size: 3em;
    margin: 0;
}

.content_text p{
    color: var(--color6);
    font-size: 20px;
    font-family: var(--font1);
}

.content_image{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 40px 0 40px;
    width: 25%;
    height: 25%;
}

.content_image img{
    object-fit: cover;
    position: relative;
    width: 100%;
    height: 100%;
}

.content_image_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -20px;
}

.content_image_subcontainer{
    background-color: var(--color4);
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    margin: 1em;
    width: 160px;
    height: 200px;
}

.content_image_subcontainer img{
    object-fit: cover;
    width: 160px;
    height: 150px;
    margin: 0 0 25px 0;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

.content_image_subcontainer p{
    position: relative;
    bottom: 12px;
    margin: 0;
    font-family: var(--font1);
    font-size: large;
    font-weight: bolder;
    text-align: center;
    color: var(--color6);
}


.content_text h3{
    font-family: var(--font2);
    position: relative;
    margin: 20px auto 30px;
    letter-spacing: 5px;
    font-size: 2.5em;
    color: white;

}

.content_text h3::before{
    background-color: white;
    display: block;
    width: 120px;
    height: 2px;
    content: "";
    position: absolute;
    left: -127px;
    top: 22px;
    z-index: 0;
}

.content_text h3::after{
    background-color: white;
    display: block;
    width: 120px;
    height: 2px;
    content: "";
    position: absolute;
    right: -127px;
    top: 22px;
    z-index: 0;
}

h2{
    font-family: var(--font2);
    position: relative;
    margin: 50px auto;
    letter-spacing: 5px;
    font-size: 2.5em;
    color: white;

}


.content2{
    background-color: #064663;
    position: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
}

h5{
    font-family: var(--font2);
    position: relative;
    margin: 50px auto;
    letter-spacing: 5px;
    font-size: 1.5em;
    color: white;

}

.content3{
    background-color: #064663;
    position: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
}

.content4{
    background-color: var(--color2);
    position: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.video_contents{
    display: flex;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    width: 100%;
    height: 100%;
}

.video_contents_subcontent{
    background-color: var(--color4);
    justify-content: space-around;
    margin: 20px;
    width: 350px;
    height: 480px;
}

.video_contents_subcontent img{
    object-fit: cover;
    width: 100%;
    height: 70%;
}

.video_text_container{
    text-align: justify;
    margin: 10px;
}

.content3 a {
    text-decoration: none;
}

.video_title {
    margin: 0;
    font-family: var(--font2);
    font-size: 16px;
    color: white;
}
.video_description {
    font-family: var(--font1);
    font-size: 15px;
    color: white;
}

.gallery{
    display: flex;
    justify-content: space-around;
    position: relative;
    top: -20%;
}

.image_gallery_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
}

.image_gallery_container img{
    padding: 0 20px 20px;
    margin: 0;
    width: 200px;
    height: 200px;
}

.image_gallery_container img:hover{
    opacity: .5;
    transition: .9s;
}



.contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--color2);
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    left: 0;
    margin: 1em;
    height: 30vh;
    width: 25vw;
}

.contents img{
    object-fit: cover;
    position: relative;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    width: 100%;
    height: 85%;

}

.caption{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
}

.caption a{
    text-decoration: none;   
}

.caption a p{
    font-family: var(--font1);
    font-weight: bold;
    font-size: 1.5em;
    letter-spacing: 2.5px;
    text-decoration: none;
    color:var(--color6);
}

.video_player_container{
    display: flex;
    flex-direction: column;
    background-color: var(--color2);

    width: 50%;
    height: 50%;
}

.video_player_container video{
    width: 100%;
    height: 70%;
}

.video_text_box{
    background-color: var(--color4);
    width: 100%;
    height: 100%;
}

.video_text_box p{
    margin: 10px;
}

.sidebar{
    background-color: var(--color2);
    width: 30%;
    height: 50%;
}

.sidebar_content_container{
    margin-left: 20px;
    margin-right: 20px;
    padding: 1em 0;

}

.sidebar_content1{
    background-color: var(--color4);
    width: 100%;
    height: 50%;
}

.sidebar_content2{
    background-color: var(--color2);
    width: 100%;
    height: 50%;
}

.skills_container{
    display: flex;
    width: 100%;
    height: 100%;
}

.skill_set1{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-right: 5px solid var(--color6);
}

.education_container{
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100%;
}
.education_bg{
    margin-left: 40px;
}

.skill_set1 ul li{
    color: white;
    font-family: var(--font1);
    font-size: 1.2em;
}

.bio_container{
    display: flex;
    width: 100%;
    height: 100%;
}

.bio_side{
    display: flex;
    flex-direction: column;
    
    margin-left: 50px;
    width: 25%;
    height: 100%;
}

.bio_side_image{
    margin-top: 50px;
    width: 100%;
    height: 25%;
}


.bio_side_image img{
    object-fit: cover;
    border-radius: 500px;
    width: 100%;
    height: 100%;
}

.line{
    margin-top: 20px;
    width: 100%;
    height: 10px;
    border-top: 2px solid var(--color6);
}

.side_link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.side_link p{
    font-family: var(--font1);
    font-size: large;
    color: var(--color6);
    
}

.side_link a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 50px;
    text-align: center;
    background-color: var(--color4);
    font-weight: bold;
    font-family: var(--font1);
    font-size: large;
    color: var(--color6);
    
}

.side_link a:hover{
    color: var(--color2);
    
}



.bio_main h3{
    font-family: var(--font2);
    font-size: 3.2em;
    color: var(--color6);
}

.contacts_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.contacts_subcontainer{
    display: flex;
    background-color: var(--color2);
    margin-top: 3em;
    padding: 0 5em;
    width: auto;
    height: auto;
}

.contacts_side_container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    border-right: 5px solid #064663;
}

.contacts_side_container h3{
    margin-left: 10px;
    font-family: 'Raleway', 'san-serif';
    font-size: 2.5em;
    color: var(--color6);
}

.contact_main_form{
    margin: 3em;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.contact_main_form label{
    color: var(--color6);
    font-family: var(--font1);
    font-weight: bold;
    font-size: 1.2em;
}

#name{
    color: black;
    font-family: var(--font1);
    letter-spacing: 2px;
    font-size: 1em;
    width: 100%;
    height: 5%;
}

#mail{
    color: black;
    font-family: var(--font1);
    letter-spacing: 2px;
    font-size: 1em;
    width: 100%;
    height: 5%;
}

#note{
    color: black;
    resize: none;
    font-family: var(--font1);
    letter-spacing: 2px;
    font-size: 1em;
    width: 100%;
    height: 15%;
}

#submit{
    width: 80px;
    height: 30px;
    font-family: var(--font1);
    font-weight: bold;
    background-color: var(--color4);
    color: var(--color6);
}

#submit:hover{
    color: var(--color2);
}


.bio_main p{
    color: var(--color6);
    margin-left: 3em;
    margin-right: 3em;
    font-family: var(--font1);
    text-align: justify;
}



.footer_container{
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120%;

}

.bio_text{
    width: 100%;

}

.footer_container svg{
    width: 40px;
    height: 40px;
    filter: invert(16%) sepia(31%) saturate(5851%) hue-rotate(180deg) brightness(85%) contrast(95%);
}

.footer_container h4{
    font-family: var(--font1);
    font-size: 1.1em;
    margin-left: 10px;
    margin-right: 20px;
    color: var(--color3);

}

footer{
    position: relative;
    bottom: 0em;
    width: 100%;
    padding: 2px 0;
    background-color: var(--color4);
}


@media only screen and (max-width: 900px) {

        .boxz{
            height: max-content;
            flex-direction: column;
            justify-content: space-around;
            height: auto;
        }

        .boxs{
            height: auto;
        }

        .dp_container{
            width: 20em;
            height: 20em;
        }
        
        .intro_text_container{
            display: flex;
            flex-direction: column;
            width: 20em;
            height: 10em;

        }
        
        .dp_container{
            margin-top: 7em;
            width: 20em;
            height: 20em;
        }

        #content{
            margin-top: 7em;
        }

        .gallery{
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .contents{
            width: 15em;
            height: 10em;
        }

        .bio_main{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: auto;
            width: auto;
        }

        .bio_container{
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        
        .skills_container{
            flex-direction: column;
        }
        .skill_set1{
            border-right: none;
            justify-content: center;
            align-items: center;
            border-bottom: 5px solid var(--color6);
        }

        .education_container{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .contacts_subcontainer{
            flex-direction: column;
            width: 50%;
            margin-bottom: 1em;
        }

        .contacts_side_container{
            border-right: none;
        }

        .contact_main_form{
            margin: 0;
            width: 100%;
            padding: 0;
            margin: 1em 0;
        }

        .content1{
            flex-direction: column;
        }

        .content_image_container{
            flex-direction: column;
        }

        .content_image_subcontainer{
            margin: 1em;
        }

        .video_contents{
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .video_player_container{
            margin: 5em 0;
            width: 80%;
        }

        .sidebar{
            width: 80%;
            margin-bottom: 1em;
        }

        .sidebar_content1{
            width: autoP;
        }

        .caption a p{
            font-size: .8em;
        }

        .footer_container{
            margin-top: 1em;
            flex-direction: column;
        }
        
        .bio_side{
            width: 50%;
            margin: 0;
        }

        .bio_main h3{
            font-size: 2.5em;
        }


        nav ul li a{
            font-size: .5em;
            letter-spacing: normal ;
        }

        h2{
            font-size: 1em;
            letter-spacing: .2em;
        }
  }